@model QLVS.Models.SoLuongDK

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chi tiết</h2>
<br />
<div>
    <h4>Số lượng đăng kí</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.DaiLy.TenDaiLy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DaiLy.TenDaiLy)
        </dd>
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.NgayDK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayDK)
        </dd>
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.SoLuongDK1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuongDK1)
        </dd>
        <br />

    </dl>
</div>
<p>
    <button class="btn btn-primary" onclick="location.href='@Url.Action("Edit",  new { id = Model.ID })';return false;"><b> Sửa</b></button>&nbsp&nbsp&nbsp&nbsp
    <button class="btn btn-default" onclick="location.href='@Url.Action("Index")';return false;"><b>Trở lại</b></button>&nbsp&nbsp&nbsp&nbsp
</p>