<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title - Quản lý vé số</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">
    @Styles.Render("~/assets/css/bootstrap.min.css")
    @Styles.Render("~/assets/css/normalize.css")
    @Styles.Render("~/assets/css/font-awesome.min.css")
    @Styles.Render("~/assets/css/themify-icons.css")
    @Styles.Render("~/assets/css/flag-icon.min.css")
    @Styles.Render("~/assets/css/cs-skin-elastic.css")
    @Styles.Render("~/assets/scss/style.css")
    @Styles.Render("~/assets/css/lib/vector-map/jqvmap.min.css")
    
    <!-- <link rel="stylesheet" href="assets/css/bootstrap-select.less"> -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
</head>
<body>
    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <br />
                <img src="../../Image/logo_mc.png" alt="Alternate Text" class="img-responsive img-thumbnail" style="width:300px; height:100px;" />
                
                <a class="navbar-brand hidden" href="./"><img src="Image/Logo.jpg" alt="Logo"></a>
            </div>
            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <h3 class="menu-title">Quản lí chung</h3><!-- /.menu-title -->
                    <li>
                        <a href="#" aria-expanded="false"> <i class="menu-icon fa fa-laptop"></i>Loại vé số</a>
                    </li>
                    <li>
                        <a href="#" aria-expanded="false"> <i class="menu-icon fa fa-table"></i>Đại lý</a>
                    </li>
                    <li>
                        <a href="#" aria-expanded="false"> <i class="menu-icon fa fa-line-chart"></i>Giải trúng</a>
                    </li>
                    <li>
                        <a href="#" aria-expanded="false"> <i class="menu-icon fa fa-map-o"></i>Phiếu thu</a>
                    </li>
                    <li>
                        <a href="#" aria-expanded="false"> <i class="menu-icon fa fa-street-view"></i>Phiếu chi</a>
                    </li>
                    <h3 class="menu-title">Tác vụ</h3><!-- /.menu-title -->
                    <li>
                        <a href="#" aria-expanded="false"> <i class="menu-icon fa fa-paper-plane"></i>Số lượng đăng ký</a>
                    </li>
                    <li>
                        <a href="#" aria-expanded="false"> <i class="menu-icon fa fa-fort-awesome"></i>Phát hành</a>
                    </li>
                    <li>
                        <a href="#" aria-expanded="false"> <i class="menu-icon fa fa-glass"></i>Kết quả xổ số</a>
                    </li>
                    <li>
                        <a href="#" aria-expanded="false"> <i class="menu-icon fa fa-th"></i>Dò số</a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside><!-- /#left-panel -->
    <!-- Left Panel -->
    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">
        <!-- Header-->
        <header id="header" class="header">
            <div class="header-menu">
                <h3 class="text-center">PHẦN MỀM QUẢN LÝ VÉ SỐ</h3>
            </div>
        </header><!-- /header -->
        <!-- Header-->
        @RenderBody()

    </div>
    @Scripts.Render("~/assets/js/vendor/jquery-2.1.4.min.js")
    @Scripts.Render("~/assets/js/plugins.js")
    @Scripts.Render("~/assets/js/main.js")
    @Scripts.Render("~/assets/js/lib/chart-js/Chart.bundle.js")
    @Scripts.Render("~/assets/js/dashboard.js")
    @Scripts.Render("~/assets/js/widgets.js")
    @Scripts.Render("~/assets/js/lib/vector-map/jquery.vmap.js")
    @Scripts.Render("~/assets/js/lib/vector-map/jquery.vmap.min.js")
    @Scripts.Render("~/assets/js/lib/vector-map/jquery.vmap.sampledata.js")
    @Scripts.Render("~/assets/js/lib/vector-map/country/jquery.vmap.world.js")
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
</body>
</html>
